<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everyouthtech.oa.secret.orm.dao.SecretPersonnelCrimeMapper">
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="crime_time" jdbcType="TIMESTAMP" property="crimeTime" />
    <result column="process_result" jdbcType="VARCHAR" property="processResult" />
    <result column="processing_agency" jdbcType="VARCHAR" property="processingAgency" />
    <result column="processing_instructions" jdbcType="VARCHAR" property="processingInstructions" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, crime_time, process_result, processing_agency, processing_instructions, 
    remarks, created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrimeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_crime
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_crime
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_crime
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrimeExample">
    delete from t_secret_personnel_crime
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_crime (secret_personnel_id, crime_time, process_result, 
      processing_agency, processing_instructions, 
      remarks, created_time, created_by
      )
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{crimeTime,jdbcType=TIMESTAMP}, #{processResult,jdbcType=VARCHAR}, 
      #{processingAgency,jdbcType=VARCHAR}, #{processingInstructions,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_crime
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="crimeTime != null">
        crime_time,
      </if>
      <if test="processResult != null">
        process_result,
      </if>
      <if test="processingAgency != null">
        processing_agency,
      </if>
      <if test="processingInstructions != null">
        processing_instructions,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="crimeTime != null">
        #{crimeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processResult != null">
        #{processResult,jdbcType=VARCHAR},
      </if>
      <if test="processingAgency != null">
        #{processingAgency,jdbcType=VARCHAR},
      </if>
      <if test="processingInstructions != null">
        #{processingInstructions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrimeExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_crime
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_crime
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.crimeTime != null">
        crime_time = #{record.crimeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processResult != null">
        process_result = #{record.processResult,jdbcType=VARCHAR},
      </if>
      <if test="record.processingAgency != null">
        processing_agency = #{record.processingAgency,jdbcType=VARCHAR},
      </if>
      <if test="record.processingInstructions != null">
        processing_instructions = #{record.processingInstructions,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_crime
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      crime_time = #{record.crimeTime,jdbcType=TIMESTAMP},
      process_result = #{record.processResult,jdbcType=VARCHAR},
      processing_agency = #{record.processingAgency,jdbcType=VARCHAR},
      processing_instructions = #{record.processingInstructions,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    update t_secret_personnel_crime
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="crimeTime != null">
        crime_time = #{crimeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processResult != null">
        process_result = #{processResult,jdbcType=VARCHAR},
      </if>
      <if test="processingAgency != null">
        processing_agency = #{processingAgency,jdbcType=VARCHAR},
      </if>
      <if test="processingInstructions != null">
        processing_instructions = #{processingInstructions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    update t_secret_personnel_crime
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      crime_time = #{crimeTime,jdbcType=TIMESTAMP},
      process_result = #{processResult,jdbcType=VARCHAR},
      processing_agency = #{processingAgency,jdbcType=VARCHAR},
      processing_instructions = #{processingInstructions,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="crime_time" jdbcType="TIMESTAMP" property="crimeTime" />
    <result column="process_result" jdbcType="VARCHAR" property="processResult" />
    <result column="processing_agency" jdbcType="VARCHAR" property="processingAgency" />
    <result column="processing_instructions" jdbcType="VARCHAR" property="processingInstructions" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, crime_time, process_result, processing_agency, processing_instructions, 
    remarks, created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrimeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_crime
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_crime
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_crime
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrimeExample">
    delete from t_secret_personnel_crime
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_crime (secret_personnel_id, crime_time, process_result, 
      processing_agency, processing_instructions, 
      remarks, created_time, created_by
      )
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{crimeTime,jdbcType=TIMESTAMP}, #{processResult,jdbcType=VARCHAR}, 
      #{processingAgency,jdbcType=VARCHAR}, #{processingInstructions,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_crime
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="crimeTime != null">
        crime_time,
      </if>
      <if test="processResult != null">
        process_result,
      </if>
      <if test="processingAgency != null">
        processing_agency,
      </if>
      <if test="processingInstructions != null">
        processing_instructions,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="crimeTime != null">
        #{crimeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processResult != null">
        #{processResult,jdbcType=VARCHAR},
      </if>
      <if test="processingAgency != null">
        #{processingAgency,jdbcType=VARCHAR},
      </if>
      <if test="processingInstructions != null">
        #{processingInstructions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrimeExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_crime
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_crime
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.crimeTime != null">
        crime_time = #{record.crimeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processResult != null">
        process_result = #{record.processResult,jdbcType=VARCHAR},
      </if>
      <if test="record.processingAgency != null">
        processing_agency = #{record.processingAgency,jdbcType=VARCHAR},
      </if>
      <if test="record.processingInstructions != null">
        processing_instructions = #{record.processingInstructions,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_crime
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      crime_time = #{record.crimeTime,jdbcType=TIMESTAMP},
      process_result = #{record.processResult,jdbcType=VARCHAR},
      processing_agency = #{record.processingAgency,jdbcType=VARCHAR},
      processing_instructions = #{record.processingInstructions,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    update t_secret_personnel_crime
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="crimeTime != null">
        crime_time = #{crimeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processResult != null">
        process_result = #{processResult,jdbcType=VARCHAR},
      </if>
      <if test="processingAgency != null">
        processing_agency = #{processingAgency,jdbcType=VARCHAR},
      </if>
      <if test="processingInstructions != null">
        processing_instructions = #{processingInstructions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelCrime">
    update t_secret_personnel_crime
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      crime_time = #{crimeTime,jdbcType=TIMESTAMP},
      process_result = #{processResult,jdbcType=VARCHAR},
      processing_agency = #{processingAgency,jdbcType=VARCHAR},
      processing_instructions = #{processingInstructions,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>