<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everyouthtech.oa.secret.orm.dao.SecretPersonnelPersonalReportMapper">
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="report_content" jdbcType="VARCHAR" property="reportContent" />
    <result column="handling_opinions" jdbcType="VARCHAR" property="handlingOpinions" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, report_time, report_content, handling_opinions, remarks, 
    created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_personal_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_personal_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_personal_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReportExample">
    delete from t_secret_personnel_personal_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_personal_report (secret_personnel_id, report_time, report_content, 
      handling_opinions, remarks, created_time, 
      created_by)
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{reportTime,jdbcType=TIMESTAMP}, #{reportContent,jdbcType=VARCHAR}, 
      #{handlingOpinions,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_personal_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="reportContent != null">
        report_content,
      </if>
      <if test="handlingOpinions != null">
        handling_opinions,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportContent != null">
        #{reportContent,jdbcType=VARCHAR},
      </if>
      <if test="handlingOpinions != null">
        #{handlingOpinions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReportExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_personal_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_personal_report
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.reportTime != null">
        report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reportContent != null">
        report_content = #{record.reportContent,jdbcType=VARCHAR},
      </if>
      <if test="record.handlingOpinions != null">
        handling_opinions = #{record.handlingOpinions,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_personal_report
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      report_content = #{record.reportContent,jdbcType=VARCHAR},
      handling_opinions = #{record.handlingOpinions,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    update t_secret_personnel_personal_report
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportContent != null">
        report_content = #{reportContent,jdbcType=VARCHAR},
      </if>
      <if test="handlingOpinions != null">
        handling_opinions = #{handlingOpinions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    update t_secret_personnel_personal_report
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      report_content = #{reportContent,jdbcType=VARCHAR},
      handling_opinions = #{handlingOpinions,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="report_content" jdbcType="VARCHAR" property="reportContent" />
    <result column="handling_opinions" jdbcType="VARCHAR" property="handlingOpinions" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, report_time, report_content, handling_opinions, remarks, 
    created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_personal_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_personal_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_personal_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReportExample">
    delete from t_secret_personnel_personal_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_personal_report (secret_personnel_id, report_time, report_content, 
      handling_opinions, remarks, created_time, 
      created_by)
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{reportTime,jdbcType=TIMESTAMP}, #{reportContent,jdbcType=VARCHAR}, 
      #{handlingOpinions,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_personal_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="reportContent != null">
        report_content,
      </if>
      <if test="handlingOpinions != null">
        handling_opinions,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportContent != null">
        #{reportContent,jdbcType=VARCHAR},
      </if>
      <if test="handlingOpinions != null">
        #{handlingOpinions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReportExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_personal_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_personal_report
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.reportTime != null">
        report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reportContent != null">
        report_content = #{record.reportContent,jdbcType=VARCHAR},
      </if>
      <if test="record.handlingOpinions != null">
        handling_opinions = #{record.handlingOpinions,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_personal_report
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      report_content = #{record.reportContent,jdbcType=VARCHAR},
      handling_opinions = #{record.handlingOpinions,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    update t_secret_personnel_personal_report
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportContent != null">
        report_content = #{reportContent,jdbcType=VARCHAR},
      </if>
      <if test="handlingOpinions != null">
        handling_opinions = #{handlingOpinions,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelPersonalReport">
    update t_secret_personnel_personal_report
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      report_content = #{reportContent,jdbcType=VARCHAR},
      handling_opinions = #{handlingOpinions,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>