<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everyouthtech.oa.secret.orm.dao.SecretPersonnelRelatedProjectMapper">
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="classified_grades" jdbcType="INTEGER" property="classifiedGrades" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, project_name, classified_grades, created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_related_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_related_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_related_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProjectExample">
    delete from t_secret_personnel_related_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_related_project (secret_personnel_id, project_name, classified_grades, 
      created_time, created_by)
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, #{classifiedGrades,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_related_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="classifiedGrades != null">
        classified_grades,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="classifiedGrades != null">
        #{classifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProjectExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_related_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_related_project
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.projectName != null">
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.classifiedGrades != null">
        classified_grades = #{record.classifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_related_project
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      classified_grades = #{record.classifiedGrades,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    update t_secret_personnel_related_project
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="classifiedGrades != null">
        classified_grades = #{classifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    update t_secret_personnel_related_project
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      project_name = #{projectName,jdbcType=VARCHAR},
      classified_grades = #{classifiedGrades,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="classified_grades" jdbcType="INTEGER" property="classifiedGrades" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, project_name, classified_grades, created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_related_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_related_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_related_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProjectExample">
    delete from t_secret_personnel_related_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_related_project (secret_personnel_id, project_name, classified_grades, 
      created_time, created_by)
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, #{classifiedGrades,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_related_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="classifiedGrades != null">
        classified_grades,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="classifiedGrades != null">
        #{classifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProjectExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_related_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_related_project
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.projectName != null">
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.classifiedGrades != null">
        classified_grades = #{record.classifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_related_project
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      classified_grades = #{record.classifiedGrades,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    update t_secret_personnel_related_project
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="classifiedGrades != null">
        classified_grades = #{classifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelRelatedProject">
    update t_secret_personnel_related_project
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      project_name = #{projectName,jdbcType=VARCHAR},
      classified_grades = #{classifiedGrades,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>