<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everyouthtech.oa.secret.orm.dao.SecretPersonnelStudyOrWorkRecordMapper">
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="institution_name" jdbcType="VARCHAR" property="institutionName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="prove" jdbcType="VARCHAR" property="prove" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="position_classified_grades" jdbcType="INTEGER" property="positionClassifiedGrades" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, institution_name, start_time, end_time, content, prove, 
    position, position_classified_grades, remarks, created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_study_or_work_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_study_or_work_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_study_or_work_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecordExample">
    delete from t_secret_personnel_study_or_work_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_study_or_work_record (secret_personnel_id, institution_name, 
      start_time, end_time, content, 
      prove, position, position_classified_grades, 
      remarks, created_time, created_by
      )
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{institutionName,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{prove,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{positionClassifiedGrades,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_study_or_work_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="institutionName != null">
        institution_name,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="prove != null">
        prove,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="positionClassifiedGrades != null">
        position_classified_grades,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="institutionName != null">
        #{institutionName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="prove != null">
        #{prove,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionClassifiedGrades != null">
        #{positionClassifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecordExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_study_or_work_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_study_or_work_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.institutionName != null">
        institution_name = #{record.institutionName,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.prove != null">
        prove = #{record.prove,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.positionClassifiedGrades != null">
        position_classified_grades = #{record.positionClassifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_study_or_work_record
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      institution_name = #{record.institutionName,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      prove = #{record.prove,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      position_classified_grades = #{record.positionClassifiedGrades,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    update t_secret_personnel_study_or_work_record
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="institutionName != null">
        institution_name = #{institutionName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="prove != null">
        prove = #{prove,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionClassifiedGrades != null">
        position_classified_grades = #{positionClassifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    update t_secret_personnel_study_or_work_record
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      institution_name = #{institutionName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      prove = #{prove,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      position_classified_grades = #{positionClassifiedGrades,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="secret_personnel_id" jdbcType="BIGINT" property="secretPersonnelId" />
    <result column="institution_name" jdbcType="VARCHAR" property="institutionName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="prove" jdbcType="VARCHAR" property="prove" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="position_classified_grades" jdbcType="INTEGER" property="positionClassifiedGrades" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, secret_personnel_id, institution_name, start_time, end_time, content, prove, 
    position, position_classified_grades, remarks, created_time, created_by
  </sql>
  <select id="selectByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_secret_personnel_study_or_work_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secret_personnel_study_or_work_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_secret_personnel_study_or_work_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecordExample">
    delete from t_secret_personnel_study_or_work_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_study_or_work_record (secret_personnel_id, institution_name, 
      start_time, end_time, content, 
      prove, position, position_classified_grades, 
      remarks, created_time, created_by
      )
    values (#{secretPersonnelId,jdbcType=BIGINT}, #{institutionName,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{prove,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{positionClassifiedGrades,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_secret_personnel_study_or_work_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        secret_personnel_id,
      </if>
      <if test="institutionName != null">
        institution_name,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="prove != null">
        prove,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="positionClassifiedGrades != null">
        position_classified_grades,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretPersonnelId != null">
        #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="institutionName != null">
        #{institutionName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="prove != null">
        #{prove,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionClassifiedGrades != null">
        #{positionClassifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecordExample" resultType="java.lang.Long">
    select count(*) from t_secret_personnel_study_or_work_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_secret_personnel_study_or_work_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.secretPersonnelId != null">
        secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="record.institutionName != null">
        institution_name = #{record.institutionName,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.prove != null">
        prove = #{record.prove,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.positionClassifiedGrades != null">
        position_classified_grades = #{record.positionClassifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_secret_personnel_study_or_work_record
    set id = #{record.id,jdbcType=BIGINT},
      secret_personnel_id = #{record.secretPersonnelId,jdbcType=BIGINT},
      institution_name = #{record.institutionName,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      prove = #{record.prove,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      position_classified_grades = #{record.positionClassifiedGrades,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    update t_secret_personnel_study_or_work_record
    <set>
      <if test="secretPersonnelId != null">
        secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      </if>
      <if test="institutionName != null">
        institution_name = #{institutionName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="prove != null">
        prove = #{prove,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionClassifiedGrades != null">
        position_classified_grades = #{positionClassifiedGrades,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everyouthtech.oa.secret.orm.pojo.SecretPersonnelStudyOrWorkRecord">
    update t_secret_personnel_study_or_work_record
    set secret_personnel_id = #{secretPersonnelId,jdbcType=BIGINT},
      institution_name = #{institutionName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      prove = #{prove,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      position_classified_grades = #{positionClassifiedGrades,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>